*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'poppins', sans-serif;
}

html{
font-size: 62.5%;
}

body{
    height: 100vh;
    align-items: center;
    background-image: url(./img/of-e-commerce-sales-online-shopping-digital-marketing-isometric-smart-phone-online-shopping-3d-render.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: #FF7465;
    border-radius: 20px;
    transition: .3s;
}

a:hover{
    transform: translate(0, -2px);
    color: white;
    border-radius: 20px;
background: #FF7465;
box-shadow:  10px 10px 30px #bebebe,
             -10px -10px 30px #ffffff;
}

span{
    margin-top: -5px;
    font-size: 20px;
    font-weight: 800;
}

.imagen{
    width: 100%;
}

.logo{
    width: 50%;
}

h1{
    font-weight: 800;
}

h2{
    font-size: 25px;
    font-weight: 400;
}

.nombre {
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 80%;
    padding: 15px 30px;
    outline: none;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px rgb(243, 90, 90) solid;
}

.cargando{
    background-color: rgb(255, 255, 255); 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    z-index: 100000;
    display: flex;   
    justify-content: center;
    align-items: center;
    transition: all 3s;
}

.cargando img{
    transition: all 3s;
    height: 100px;
}

